/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.roboto-font {
  font-family: "Roboto", sans-serif;
}

.body {
  box-shadow: 0px 4px 18.47px 0px rgba(0, 0, 0, 0.05);
}

.worksans-font {
  font-family: "Work Sans";
}
